@import "reset";
@import "values/0-values";
@import "fonts";

* {
  box-sizing: border-box;
}


html {
  scroll-behavior: smooth;
  color: $hexDark;
}


body {
  overflow-x: hidden;
}


img {
  vertical-align: middle;
  max-width: 100%;
}
