.md, .markdown-body
    background-color: white
    color: $rgbaDark
    letter-spacing: .2px
    line-height: 1.75
    max-width: $markdownBody
    min-width: 200px
    margin: 0 auto
    padding: 0 20px
    font-size: 1rem
    margin-top: 100px
    margin-bottom: 100px
    // overflow-x: hidden

    >:first-child
        margin-top: 0

    @import "1-basic"
    @import "figure&img"
    @import "h"
    @import "blockquote"
    @import "table"
    @import "li"
    @import "details"
    @import "styleoutput"
    @import "code/0-code"
    @import "emphasis"
    @import "gridGallery/0-gridGallery"
    @import "mediaplay/0-mediaplay"

    &.big
        max-width: 1200px
