blockquote
  background-color: $hexBg2
  color: $hexGrey
  padding: 1rem 1rem
  border-left: 2px solid $hexLightPale
  @extend %pLikeMargin

  &>:first-child
    margin-top: 0

  &>:last-child
    margin-bottom: 0

  &.classic
    background: none
    color: inherit
    border-left: 2px solid $hexDark
    padding: 0 1rem
    font-style: italic
