>, details >, li >, blockquote >
  img, .imgFrame, figure
    @extend %imgLikeMargin

figure
  figcaption, figcaption p
    text-align: left
    font-size: 0.875rem
    line-height: 1.5em
    // color: $hexGrey
    margin-top: 0.5rem

  figcaption
    color: $hexGrey
