table
  // display: flex
  text-align: left
  @extend %pLikeMargin
  overflow-x: auto
  -webkit-overflow-scrolling: touch

  *
    vertical-align: middle

  th
    font-weight: bold
    background-color: $hexBg2

  th, td
    line-height: 1.5
    padding: 0.5rem 1rem
    border: 1px solid $hexLightPale
    // transition: 300ms background-color

  th:hover
    background-color: $hexBg1

  td:hover
    background-color: $hexBg2

  // &.fullWidth
  //   width: 100%
