$galleryMargin: 1rem

%galleryMarginFix
  margin-right: $galleryMargin

@mixin cardsColumn($input)
  li
    @if $input == 1
      flex: 0 1 100%

    @if $input == 2
      flex: 0 1 calc(50% - 1rem)
      @media only screen and (max-width: $iPhonePlus)
        flex: 0 1 100%

    @if $input == 3
      flex: 0 1 calc(33.333% - 1rem)
      @media only screen and (max-width: 600px)
        flex: 0 1 calc(50% - 1rem)
      @media only screen and (max-width: $iPhonePlus)
        flex: 0 1 100%

    @if $input == 4
      flex: 0 1 calc(25% - 1rem)
      @media only screen and (max-width: $iPad)
        flex: 0 1 calc(33.333% - 1rem)
      @media only screen and (max-width: 600px)
        flex: 0 1 calc(50% - 1rem)
      @media only screen and (max-width: $iPhonePlus)
        flex: 1 1 100%

.imgGallery,
.cardGallery
  @include reset(li)
  @include reset(h)
  @include reset(p)
  margin-top: $galleryMargin * 2

  vertical-align: middle


  // begin container of the cards
  ul
    display: flex
    flex-wrap: wrap
    margin-right: -$galleryMargin

    li
      @extend %galleryMarginFix
      margin-bottom: $galleryMargin
      position: relative

  &.grid
    @include cardsColumn(2)

  &.grid-small
    @include cardsColumn(3)

&.big
  .cardGallery ul
    &.grid
      @include cardsColumn(3)

    &.grid-small
      @include cardsColumn(4)

// ===================================
// Begin Import
// ===================================
.imgGallery
  margin-bottom: -$galleryMargin
  @import "1-titlebar"
  @import "framedFigList"

.cardGallery
  @import "1-titlebar"
  @import "bigcover"











  //
