@import "z-reset"
@import "1-myReset"
@import "1-myVar"
@import "mathjax"
@import "screen"

*
    box-sizing: border-box
    // scroll-margin-block-start: 100px
    position: relative

html
    font-size: 16px
    -webkit-font-smoothing: antialiased
    font-family: 'Source Sans', sans-serif
    scroll-behavior: smooth

body
    overflow-x: hidden

img
    vertical-align: middle
    max-width: 100%

//
