// 这是为了让 img 不会出现奇怪的 margin
img
  vertical-align: middle
  width: 100%

.imgFrame
  position: relative
  overflow: hidden
  // 这条写在 markdown-body 里面
  // margin: 24px 0

  img
    width: 100%
    height: 100%
    position: absolute
    object-fit: cover

  &.ratioAuto
    // 这里没什么可写的
    img
      width: 100%
      position: static

  &.ratio1to1
    padding-bottom: 100%

  &.ratio16to9
    padding-bottom: 56.25%

  &.ratio4to3
    padding-bottom: 75%

  &.round
    padding-bottom: 100%
    border-radius: 50%
