@import "articlecard"

$galleryMargin: 1rem

%galleryMarginFix
  margin-right: $galleryMargin

.cardGallery
  @import "titleBar"

  display: flex
  flex-wrap: wrap
  margin-right: -$galleryMargin
  @extend %pLikeMargin
  margin-bottom: 1.5rem
  // 这个地方我做了一点点修正，下面如果还是 1rem 看上去太短了

  img
    margin: 0

  .titleBar, .empty,
  .articleCard,
  figure
    @extend %galleryMarginFix
    margin-top: $galleryMargin
    // 其实在里面，我单独写了 margin-top: 1rem，但在 .cardGallery 下，可能会涉及修改间距

.markdown-body
  .cardGallery
    .empty,
    .articleCard,
    figure
      flex: 1 1 40%

      @media only screen and (max-width: $iPhonePlus)
        flex: 1 1 100%

// test
