blockquote {
  background: none;
  border: none;
  padding: 1px 16px;
  color: inherit;
  position: relative;
  margin: 1.5rem 0;
  padding-left: 1rem;
  // border-left: 1px solid $rgbaDark;
  box-shadow: inset 4px 0 0 $rgbaLightPale;
  background-color: $rgbaBg2;

  &> {
    * {
      *
          font-size: 100%;
    }
  }

  * {
    text-align: left;
    font-weight: normal;
  }
}
