$galleryMargin: 1rem

%galleryMarginFix
  margin-right: $galleryMargin

@mixin cardsColumn($input)
  li
    @if $input == 1
      flex: 0 1 100%

    @if $input == 2
      flex: 0 1 calc(50% - 1rem)
      @media only screen and (max-width: $iPhonePlus)
        flex: 0 1 100%

    @if $input == 3
      flex: 0 1 calc(33.333% - 1rem)


.cardsGallery
  @extend %resetList
  @extend %resetHeading
  @extend %resetParagraph

  margin: $galleryMargin 0

  @import "1-titlebar"

  // display: inline-block
  vertical-align: middle


  // begin container of the cards
  ul.cardList
    display: flex
    flex-wrap: wrap
    margin-right: -$galleryMargin

    &[class*="grid-"]

      @include cardsColumn(2)

      li
        @extend %galleryMarginFix
        margin-bottom: $galleryMargin
        position: relative

      // begin import to .cardList
      @import "bigcover"
      // end import to .cardList

  // end container of the cards

&.big
  .cardsGallery ul.cardList
    &.grid
      @include cardsColumn(3)








  //
